.welcome {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 10rem;
  margin-top: 10rem;
}
.question {
  text-align: center;
}

.btn-primary {
  width: 20%;
  font-size: 2rem;
  border-radius: 10px;
  padding: 1rem;
  margin: 0 auto;
  background-color: #99c355;
  border-color: #99c355;
}
